*{
    margin: 0px;
    padding: 0px;
}
section{
    padding-top: 40px;
}
.container{
    box-shadow: 1px 0px 15px;    
    height: 100vh;
    width: 700px;
    height: 600px;
    margin: 30px auto;
    background-color: #fffdfd;
}
.container h1{
    
    padding-bottom: 1.5rem;

}
.content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    
    margin-right: 20px;

}
.content .text-item{
    margin: 50px;
    width: 100%;
}
.content .card{
    margin-left: 20px;
    margin-top: 20px;  
    border-radius: 10px; 
    box-shadow: -5px 9px 8px;
    padding: 10px;
    background-color: rgb(250, 250, 250);
    box-sizing: border-box;
    width: 100%;
    margin: 30px;
    
}
.text-item .button-group{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}
.btn-save a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size:19px;
    padding: 5px;
}
.content .btn-cv:hover{
    color: #665b43;
}
.btn-contact{
    background-color: black;
    color: rgb(255, 255, 255);
    width: 100px;
    padding: 8px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 17px;
    text-align: center;
}
.btn-contact a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.btn-contact:hover {
    background-color: #665b43;
    cursor: pointer;
}

.favicon ul{
    display: flex;
    justify-content: flex-start;
    text-align: start;
    padding-top: 20px;
    margin-left: -11px;
} 
.favicon ul li{
    list-style: none;
    margin: 10px;
}
.favicon ul li a img{
    background-color: rgb(83, 83, 83);
    display: inline-block;
    padding: 5px;
    border-radius: 50%;
    box-shadow: 0 0 50px #ccc;
    margin: 3px;
}


.card-profile{
    box-shadow: 0 0 10px #4e4d4d;
    border-radius: 10px;
    width: 100%;
    height: auto;
    box-sizing: border-box;
   
}
.card-profile img{
    border-radius: 10px 10px 0 0;
    width: 100%;
    
}
.card-profile .activity{
    background-color: rgb(255, 255, 255);
    text-align: center;
    margin-top: -5px;
    padding: 10px;
    border-radius: 0 0 10px 10px;
}
.activity h1{
    margin-top: -2px;
}
.activity p{
    margin-top: -10px;
}


@media (max-width: 767.98px)  { 
    .container{
        width: 100%;
        height: auto;
    }
    .content{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.favicon ul li{
    margin: 1px;
}
.card{
        box-shadow:0 10px 6px -6px #777;
}
.activity h1{
 margin-top: 30px;
}
}
